<h1> battle view </h1>

<%= form_for @battle, :url => starter_path(@battle) do |f| %>
	
	<h4><%= f.check_box :status %> <-- status </h4><br>
	<%= f.text_field :finish, value: Time.now %>
	<%= f.number_field :players %>


	<%= @user %>
	



	
	

	<%= f.submit "start", id: "single_button"  %>
	<div id="single_div"> 1 vs 1 </div>
	<div id="tourny"> tournament </div>
<% end %>

