<p id="roomnumberToSave"> room number = <%= @roomnumber %> </p>

<div id="show_table_div">
 
  <table id="show_table_compact">
    <tr>
      
      <th>abbr</th>
      <th>name</th>
      <th>quantity</th>
      
      
      <th>total value</th>
      <th>profit/loss</th>
      
    </tr>
    
    
    

    <% @names.each do |name| %>
    <% @theTotal = 0 %>

      <% @oneAtATime = @mywallet.where(name: name) %>

        <% @oneAtATime.each do |r| %>
          <% @theTotal += r.quantity %>

        <% end %>

    






      
        
        <tr>  
          
          <td><%= @oneAtATime[0].abbr %></td>
          <td><%= name %></td>
          <td ><%= @theTotal %></td>
          
          
          <td><%= @oneAtATime[0].current_value %></td>
          <td><%= @oneAtATime[0].profit_loss %></td>

         
          
         

         
          
        </tr>
        
     

    
<% end %>









<table id="show_table">
    <tr>
      <th>ID</th>
      <th>abbr</th>
      <th>name</th>
      <th>quantity</th>
      <th>paid</th>
      <th>current value</th>
      <th>total value</th>
      <th>profit/loss</th>
      <th></th>
      <th></th>
    </tr>







    <% @mywallet.each do |wallet| %>
      
      <tr>  
        <td><%= wallet.id %></td>
        <td><%= wallet.abbr %></td>
        <td><%= wallet.name %></td>
        <td id="<%=wallet.id%>_quantity"><%= wallet.quantity %></td>
        
        <td id="<%=wallet.id%>_paid"><%= number_to_currency wallet.paid %></td>
        
        <td id="<%=wallet.id%>_current"><%= number_to_currency wallet.current_value %></td>

        <td id="<%=wallet.id%>_current_total"><%= number_to_currency wallet.total %></td>




        <td id="<%=wallet.id%>_profit"><%= number_to_currency wallet.profit_loss %></td>
        
       

        <td><%= link_to 'show', wallet_path(wallet.id) %></td>
        <td><%= link_to 'edit', edit_wallet_path(wallet.id) %></td>
        
      </tr>
      
    <% end %>
    
    





    
    

    

      
























      


      











    <p> check for dups on <%= @mywallet.count %> records.</p>
    
   
    
     
      
      
      
     


    

  </table>

  <div id='myTotal'></div>
</div>

