<H1> Create battle </h1>

<%= form_with model: @battle, local: true do |f| %>

  	<%= f.check_box :status, :value => true %> <-- status </h4><br>
	<%= f.text_field :finish, value: Time.now + 10.days  %>
	<%= f.number_field :players, :value => 1 %>
	
  	<%= f.submit %>
<% end %>