<div id='battle_show_container'>

	<div id='battle_show'>
		<% if @battle.users.count >= 2 %>

			<h1> <%= @battle.users[0].email[/[^@]+/]%> vs <%=@battle.users[1].email[/[^@]+/] %> </h1>
		<%else %>
			<h1> YOU vs ...waiting for player </h1>
		<% end %>
		<h4> <%= @battle.id %></h4>
	</div>

	<div id='youvs'>

		<% if @room.exists? %>
		total: <%= @room[0].balance %>
		room size is = <%=@room.exists?%>
		<% else %>
		total: canned total
		room size is = <%=@room.exists?%>
		<% end %>

		<div id='go_to_market'>
			<h1>Market</h1>
		

			 <% if @battle.rooms.where(user_id: current_user.id)[0] %>


				 <%= @battle.rooms.where(user_id: current_user.id)[0].wallets[0] %>

				 
			 <% end %>

		

		<% @battle.rooms.where(battle_id: @battle.id).each do |u| %>
			
			<p> user: = <%= u.user_id %> = <%= User.find(u.user_id).email[/[^@]+/] %> </p>

			
			
			<%end%>
		<p> battle ID = <%=@battle.id%> </p>
			
			<% if @battle.users.count >= 2 %>

				<% if @battle.rooms.where(user_id: current_user.id, battle_id: @battle.id)[0] %>


				<p> room# = <%= @battle.rooms.where(user_id: current_user.id, battle_id: @battle.id)[0].id %>
					<%=link_to "market", "/markets?room=#{@battle.rooms.where(user_id: current_user.id, battle_id: @battle.id)[0].id}" %>
				<% end %>

		
			<% end %>

			
		</div>

	</div>



	<% if @battle.users.count >= 2 %>
	
		<h1>match Started</h1>
	<% else %>




	<div id='vsyou'>
		<h1>gfjhfjgfj</h1>
		<div id='join_battle'>join</div>
	</div>


	

	<%= form_for @battle do |f| %>

		<%= f.check_box :status, value: true %> <-- status </h4><br>
		<%= f.text_field :finish, value: Time.now + 10.days  %>
		<%= f.number_field :players, value: 2 %>

		<% if current_user %>
			<H1>User ID = <%= @user.id %></H1>
			<H1>User email = <%= @user.email %></H1>
		<% end %>
	<% end %>





	<% end %>


</div>