<div id='battle_show_container'>

	<div id='battle_show'>
		
		<% if @battle.users.count >= 2 %>

			<h1> <%= @battle.users[0].email[/[^@]+/]%> vs <%=@battle.users[1].email[/[^@]+/] %> </h1>
		
		<%else %>
			
			<h1> YOU vs ...waiting for player </h1>
		
		<% end %>
		
	</div>

	<div id='youvs'>

		<div id='go_to_market'>
			
			

		

			

			<% @battle.rooms.where(battle_id: @battle.id).each do |u| %>
				
				<p> user: = <%= u.user_id %> = <%= User.find(u.user_id).email[/[^@]+/] %> </p>

			<%end%>
			
			<p> battle ID = <%=@battle.id%> </p>
			
			<% if @battle.users.count >= 2 %>

				<% if @battle.rooms.where(user_id: current_user.id, battle_id: @battle.id)[0] %>


					<p> room# = <%= @battle.rooms.where(user_id: current_user.id, battle_id: @battle.id)[0].id %>
					</p>
						
					<p id="summary_invested"></p>

					
					<p> Bank = $ <%= number_with_precision(@room[0].bank, :precision => 2, :delimiter => ',') %>
					</p>


					<p id="summary_total">	
						<% if @room.exists? %>
							total: $ 
							
						<% else %>
							total: canned total
							room size is = <%=  @room.exists?%>
						<% end %>
					</p>
					<p>
						<%=link_to "market", market_path %>
						
					</p>
				<% end %>
			<% end %>

			
		</div>

	</div>

	<div id='vsyou'>

	<% if @battle.users.count >= 2 %>
	
		<h1>match Started</h1>


		<% if @battle.users.count >= 2 %>

			<% if @battle.rooms.where(user_id: current_user.id, battle_id: @battle.id)[0] %>


				<p> room# = <%= @enemyRoom[0].id %>
				</p>
					
				<p id="enemy_summary_invested"></p>

				
				<p> Bank = $ <%= number_with_precision(@enemyRoom[0].bank, :precision => 2, :delimiter => ',') %>
				</p>


				<p id="enemy_summary_total">	
					<% if @room.exists? %>
						total: $ 
						
					<% else %>
						total: canned total
						room size is = <%=  @room.exists?%>
					<% end %>
				</p>
				
			<% end %>
		<% end %>
	</div>


	<% else %>




	
		<h1>gfjhfjgfj</h1>
		<div id='join_battle'>join</div>
	</div>


	

	<%= form_for @battle do |f| %>

		<%= f.check_box :status, value: true %> <-- status </h4><br>
		<%= f.text_field :finish, value: Time.now + 10.days  %>
		<%= f.number_field :players, value: 2 %>

		<% if current_user %>
			<H1>User ID = <%= @user.id %></H1>
			<H1>User email = <%= @user.email %></H1>
		<% end %>
	<% end %>





	<% end %>


</div>



<div id="wallets">


<% if @battle.users.count >= 2 %>
	<h3 class="data" id="roomnumberToSave"> <%= @room[0].id %> </h3>
<% end %>



<div id="show_table_div">
 
  <table id="show_table_compact">
    <tr>
      <th>abbr</th>
      <th>name</th>
      <th>quantity</th>
      <th>current price</th>
      <th>total value</th>
      <th>total paid</th>
      <th>profit/loss</th>
    </tr>
    
    <% @names.each do |name| %>
    <% @theTotal = 0 %>
    <% @totalPaid = 0 %>
    <% @avargeProfit = 0 %>
    <% @oneAtATime = @mywallet.where(name: name) %>

      <% @oneAtATime.each do |r| %>
        <% @theTotal += r.quantity %>
        <% @totalPaid += r.quantity * r.paid %>
        
      <% end %>

      <tr>  
        
        <td><%= @oneAtATime[0].abbr %></td>
        <td><%= name %></td>
        <td ><%= @theTotal %></td>
        <td id="<%= name %>_compact_current_price"></td>
        <td id="<%= name %>_compact_total_value"></td>
        <td id="<%= name %>_compact_total_paid">$ <%= number_with_precision(@totalPaid, :precision => 2, :delimiter => ',') %></td>
        <td id="<%= name %>_compact_profit"></td>
      
      </tr>
      
    <% end %>









<table id="show_table">
    <tr>
      <th>ID</th>
      <th>date</th>
      <th>abbr</th>
      <th>name</th>
      <th>quantity</th>
      <th>original price</th>
      <th>current price</th>
      <th>total value</th>
      <th>profit/loss</th>
      <th></th>
      <th></th>
    </tr>

    <% if @mywallet %>
	    <% @mywallet.each do |wallet| %>
	      
	      <tr>  
	        <td><%= wallet.id %></td>
	        <td><%= wallet.created_at.strftime("%b/%e/%Y") %></td>
	        <td><%= wallet.abbr %></td>
	        <td><%= wallet.name %></td>
	        <td id="<%=wallet.id%>_quantity"><%= wallet.quantity %></td>
	        
	        <td id="<%=wallet.id%>_paid"><%= "$ "+number_with_precision(wallet.paid, :precision => 2, :delimiter => ',') %></td>
	        
	        <td id="<%=wallet.id%>_current_price"></td>

	        <td id="<%=wallet.id%>_total_value"></td>




	        <td id="<%=wallet.id%>_profit"></td>
	        
	       

	        <td><%= link_to 'show', wallet_path(wallet.id) %></td>
	        <td><%= link_to 'edit', edit_wallet_path(wallet.id) %></td>
	        
	      </tr>
	      
	    <% end %>
    
	    <%end%>
    

    
</table>

  <div id='myTotal'></div>
</div>













<% if @battle.users.count >= 2 %>

	<h3 class="data" id="enemyroomnumberToSave"> <%= @enemyRoom[0].id %> </h3>

	<div id="enemy_show_table_div">
	 
	  <table id="enemy_show_table_compact">
	    <tr>
	      <th>abbr</th>
	      <th>name</th>
	      <th>quantity</th>
	      <th>current price</th>
	      <th>total value</th>
	      <th>total paid</th>
	      <th>profit/loss</th>
	    </tr>
	    
	    <% @enemynombres.each do |value| %>
	    <% puts "zzzzz im in "+ @enemynombres.inspect %>
	    <% @theTotal = 0 %>
	    <% @totalPaid = 0 %>
	    <% @avargeProfit = 0 %>
	    <% @enemyoneAtATime = @enemywallet.where(name: value) %>
	      <% puts @enemynombres.inspect+ "yyyy "+ value + " y yy" %>
	      <% @enemyoneAtATime.each do |r| %>
	        <% @theTotal += r.quantity %>
	        <% @totalPaid += r.quantity * r.paid %>
	        
	      <% end %>

	      <tr>  
	        
	        <td><%= @enemyoneAtATime[0].abbr  %></td>
	        <td><%= value %></td>
	        <td ><%= @theTotal %></td>
	        <td id="<%= value %>_enemy_compact_current_price"></td>
	        <td id="<%= value %>_enemy_compact_total_value"></td>
	        <td id="<%= value %>_enemy_compact_total_paid">$ <%= number_with_precision(@totalPaid, :precision => 2, :delimiter => ',') %></td>
	        <td id="<%= value %>_enemy_compact_profit"></td>
	      
	      </tr>
	      
	    <% end %>









	<table id="enemy_show_table">
	    <tr>
	      <th>ID</th>
	      <th>date</th>
	      <th>abbr</th>
	      <th>name</th>
	      <th>quantity</th>
	      <th>original price</th>
	      <th>current price</th>
	      <th>total value</th>
	      <th>profit/loss</th>
	      <th></th>
	      <th></th>
	    </tr>

	    <% if @enemywallet %>
		    <% @enemywallet.each do |wallet| %>
		      
		      <tr>  
		        <td><%= wallet.id %></td>
		        <td><%= wallet.created_at.strftime("%b/%e/%Y") %></td>
		        <td><%= wallet.abbr %></td>
		        <td><%= wallet.name %></td>
		        <td id="<%=wallet.id%>_enemy_quantity"><%= wallet.quantity %></td>
		        
		        <td id="<%=wallet.id%>_enemy_paid"><%= "$ "+number_with_precision(wallet.paid, :precision => 2, :delimiter => ',') %></td>
		        
		        <td id="<%=wallet.id%>_enemy_current_price"></td>

		        <td id="<%=wallet.id%>_enemy_total_value"></td>




		        <td id="<%=wallet.id%>_enemy_profit"></td>
		        
		       

		        <td><%= link_to 'show', wallet_path(wallet.id) %></td>
		        <td><%= link_to 'edit', edit_wallet_path(wallet.id) %></td>
		        
		      </tr>
	      <% end %>
	      
	    <% end %>
	    

	</table>

	  <div id='enemy_myTotal'></div>
	</div>
<% end %>





</div>


