
<p><%=  @room.inspect %>
</p>
<p>
buy shir for user_id -> <%= @room.user_id %>
</p>

<h1> status = <%= @pass %> </h1>
<div  id="table_div" class='main_table'>
	<table id="table">
		
		<tbody>
			<tr>
				<th class="col1">#</th>
				<th class="col2">Logo</th>
				<th class="col3">name</th>
				<th class="col4">Price</th>
				<th class="col5">Change 24h</th>
				<th class="col6">Change hour</th>
				<th class="col7">High24h</th>
				<th class="col8">Low24h</th>
				<th class="col9">MarketCap</th>
				<th class="buy">BUY</th>


				
			</tr>
		</tbody>
		
	</table>
	

	<div class='button'></div>
	
	
</div>

<div id="confirm">
	<div id="confirm_grid">
		
		

		<div id="confirm_logo"></div>
					
		<div >
			<h1 id="confirm_name"></h1>
			<i id="confirm_abbr">

			</i>

		</div>
		
		<div id="confirm_price"></div>
		<div id="confirm_button">

			
			<% if current_user %>

				<%= form_for @wallet do |f| %>
					<%= f.hidden_field :abbr, placeholder: "abbr" %>
					<%= f.hidden_field :name, placeholder: "Name" %>
					<%= f.number_field :quantity, placeholder: "QNTY", min: 0, step: :any  %>
					<%= f.text_field :paid, placeholder: "PAID" %>
					<%= f.hidden_field :url, placeholder: "URL" %>
					<%= f.hidden_field :room, value: @room.id %>
					<%= f.hidden_field :trans_type, value: "buy" %>
					<%= f.submit "Buy" %>
				
				<% end %>


				<form>
  					Actual PAID<br>
  					<input type="number" id="confirm_actual_paid" >
				  <br>
				  Bank<br>
				  <input type="number" id="confirm_bank">
				  <br><br>

				  <input type="number" id="confirm_bank_hidden">
				  <br><br>
				 
				</form> 


				<button id="spend_all"> ALL </button>
			<% end %>

			
			

		</div>

	</div>

</div>